@use "./styles/app.scss";

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("./images/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

* {
  box-sizing: border-box;
  font-family: "Indie Flower", cursive;
  font-family: "Inconsolata", monospace;
}
