@use "./variables" as v;
@use "./mixins" as m;

footer {
  background-color: v.$header-bg;
  color: v.$text-color;
  @include m.flex;
  justify-content: center;
  font-size: v.$main-font;
}

@media (min-width: 1000px) {
  footer {
    font-size: v.$main-rs-font;
  }
}
