@use "./variables" as v;
@use "./mixins" as m;

#header {
  background-color: v.$header-bg;
  width: 100%;
  color: v.$text-color;
  @include m.flex;
  padding: 1.5em;
  justify-content: space-between;
  position: relative;

  p {
    margin: 0;
  }

  button {
    border: none;
    @include m.flex;
    padding: 10px;
    background-color: #f4d6e0;
    color: #373829;
  }

  #list {
    @include m.listmix;
  }

  .flexRow {
    flex-direction: row;

    li {
      margin-left: 20px;
    }
  }
}

.onTop {
  @include m.listmix;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: v.$header-bg;
  padding-top: 30px;
  opacity: 0.9;

  li,
  button {
    text-align: center;
    width: 100%;
    padding: 20px;
    margin-bottom: 2px;
  }

  li:active,
  button:active {
    background-color: #9cb2a5;
  }
}
