@use "./variables" as v;

@mixin flex {
  display: flex;
  align-items: center;
}

@mixin listmix {
  @include flex;
  list-style: none;
  margin: 0;
  padding: 0;

  li a,
  button {
    text-decoration: none;
    color: v.$text-color;
  }

  button {
    background-color: v.$header-bg;
    border: none;
  }
}
